<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.orders.title' | translate }}</h1>

    <div class="actions">

      <p *ngIf="!(sideEffects$ | async).loaded">{{ 'stms.orders.empty-state-message' | translate }}</p>

      <p *ngIf="(sideEffects$ | async).errorMessage as error">{{ error }}</p>

      <st-filter-input *ngIf="(sideEffects$ | async).loaded"
        [obsList]="ordersList$"
        filterBy="orderName"
        (onFilter)="setFilteredList($event)"
      ></st-filter-input>

      <ng-container *ngIf="(sideEffects$ | async).loading">
        <mat-spinner></mat-spinner>
        <div>{{ 'stms.orders.loading' | translate }}</div>        
      </ng-container>

      <ng-container *ngIf="(sideEffects$ | async) as sideEffects">
        <mat-list *ngIf="sideEffects.loaded && filteredList.length">
          <mat-list-item *ngFor="let order of filteredList">

            {{ order.orderName }}
            <span>{{ order.creationDate.formattedDate }}: {{ order.creationDate.formattedTime }}</span>
            &nbsp;
            <span *ngIf="isAddedToFavorite(order)">
              [{{ 'stms.favorites.favorite' | translate }}]
            </span>
            &nbsp;
            <button mat-icon-button mat-raised-button 
                    [color]="isAddedToFavorite(order) ? 'primary' : 'accent'"
                    (click)="onFavoritesToggle(order)"
            >
              <fa-icon icon="star"></fa-icon>
            </button>

          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </ng-container>

      <button mat-raised-button class="actions-main" color="primary" (click)="onLoadOrdersClick()">
        {{ 'stms.orders.get-orders' | translate }}
      </button>
    </div>
  </div>
</div>
