<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.favorites.title' | translate }}</h1>

    <div class="actions">

      <ng-container *ngIf="favoriteItemsList$ | async as favoriteItemsList">
        <div *ngIf="!favoriteItemsList.length"> {{ 'stms.favorites.empty-state-message' | translate }} </div>

        <mat-list *ngIf="favoriteItemsList.length">
          
          <mat-list-item *ngFor="let item of favoriteItemsList">
            <ng-container *ngTemplateOutlet="itemIsOrder(item) ? orderItem : patientItem; context: {$implicit: item}"></ng-container>
            &nbsp;
            <button mat-icon-button mat-raised-button color="accent" (click)="onRemoveItemFromFavoriteClick(item)">
              <fa-icon icon="times"></fa-icon>
            </button>
          </mat-list-item>

        </mat-list>
          
      </ng-container>
   
    </div>
  </div>
</div>

<ng-template #orderItem let-item>
  {{ item.orderName }}
  <span>{{ item.creationDate.formattedDate }}: {{ item.creationDate.formattedTime }}</span>
</ng-template>

<ng-template #patientItem let-item>
  {{ item.fullName }}
  <span>{{ item.birthDate.formattedDate }}</span>
</ng-template>
